In [59]:
%run ../app/models/model.py
from owlready2 import *
onto = get_ontology("../app/data/education.owl").load()

In [60]:
print("sử dụng SPARQL để tìm tất cả các học sinh có họ bắt đầu bằng chữ L")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hoTen ?hoTen.
    FILTER (STRSTARTS(?hoTen, "L")).
}
"""))
for x in result: print(x[0].hoTen, x[0].hocLop.ten)

sử dụng SPARQL để tìm tất cả các học sinh có họ bắt đầu bằng chữ L
Lương Anh Tú 10C01
Lâm Thanh Việt 10C02
Lý Minh Thiện 11B03

In [61]:
print("sử dụng SPARQL để tìm tất cả các học sinh sinh vào tháng 3")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:ngaySinh ?ngaySinh.
    FILTER (MONTH(?ngaySinh) = 3).
}
"""))
for x in result: print(x[0].hoTen, x[0].ngaySinh)

sử dụng SPARQL để tìm tất cả các học sinh sinh vào tháng 3
Tăng Đình Tú 2000-03-29
Dương Thanh Việt 2000-03-17
Ngô Anh Khánh 2000-03-20
Đào Anh Hải 2000-03-25

In [62]:
print("sử dụng SPARQL để tìm tất cả các học sinh của lớp có tên là 10C03")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hocLop ?lop.
    ?lop s:ten "10C03".
}
"""))
for x in result: print(x[0].hoTen, x[0].hocLop.ten)

sử dụng SPARQL để tìm tất cả các học sinh của lớp có tên là 10C03
Dương Thị Hùng 10C03
Tăng Đình Tú 10C03
Nguyễn Hữu Quang 10C03
Đỗ Đình Hoàng 10C03
Dương Hồng Dũng 10C03

In [63]:
print("sử dụng SPARQL để tìm tất cả các học sinh của lớp có uri là #11B01")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hocLop ?lop.
    FILTER(STRENDS(STR(?lop), "#11B01")).
}
"""))
for x in result: print(x[0].hoTen, x[0].hocLop.ten)

sử dụng SPARQL để tìm tất cả các học sinh của lớp có uri là #11B01
Đào Ngọc Tường 11B01
Huỳnh Thị Việt 11B01
Bùi Anh Việt 11B01
Vũ Đình Tú 11B01
Phùng Thanh Ngọc 11B01

In [64]:
print("sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp, sắp xếp theo tên lớp")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?gv
WHERE {
    ?gv a s:GiaoVien.
    ?gv s:lopChuNhiem ?lop.
    ?lop s:ten ?tenLop.
    FILTER(BOUND(?lop)).
}
ORDER BY ?tenLop
"""))
for x in result: print(' - '.join([x[0].hoTen, x[0].dayMon[0].ten, x[0].lopChuNhiem.ten]))

sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp, sắp xếp theo tên lớp
Ngô Thị Minh - Hóa học - 10C01
Đào Hữu Thúy - Sinh học - 10C02
Nguyễn Hoài Nam - Sinh học - 10C03
Phan Kim Tú - Thể dục - 11B01
Mai Kim Nhật - GDCD - 11B02
Huỳnh Thu Thiên - Công nghệ - 11B03
Đỗ Kim Hoàng - Toán học - 12A01
Mai Ngọc Tú - GDCD - 12A02
Đinh Thanh Hải - Tiếng Anh - 12A03

In [65]:
print("sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp (cách 2)")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?lop 
WHERE {
    ?lop a s:LopHoc.
}
"""))
for x in result: print(' - '.join([x[0].ten, x[0].giaoVienChuNhiem.hoTen]))

sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp (cách 2)
10C01 - Ngô Thị Minh
10C02 - Đào Hữu Thúy
10C03 - Nguyễn Hoài Nam
11B01 - Phan Kim Tú
11B02 - Mai Kim Nhật
11B03 - Huỳnh Thu Thiên
12A01 - Đỗ Kim Hoàng
12A02 - Mai Ngọc Tú
12A03 - Đinh Thanh Hải

In [66]:
print("sử dụng SPARQL để tìm tất cả các phụ huynh có 2 con đang học cùng trường")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?ph (COUNT(?hs) AS ?soCon)
WHERE {
    ?ph a s:Me.
    ?ph s:con ?hs.
}
GROUP BY ?ph
HAVING (COUNT(?hs) = 2)
"""))
print(*[f"{x[0].hoTen} - {x[1]}" for x in result], sep = '\n')
lst = list(map(lambda ph: [ph[0].hoTen, ph[0].con[0].hoTen, ph[0].con[1].hoTen], result))# Lấy họ tên phụ huynh và các con
lst.sort(key = lambda x:x[2]) # Sắp xếp theo tên con thứ 2
new_lst = [[a[0], b[0], a[1], a[2]] for a, b in zip(lst[::2], lst[1::2])] # Ghép lại theo cặp
for x in new_lst: print(f"({x[0]} + {x[1]}) = Con 1: {x[2]} - Con 2: {x[3]}")

sử dụng SPARQL để tìm tất cả các phụ huynh có 2 con đang học cùng trường

In [67]:
print("sử dụng SPARQL để liệt kê các Giáo viên dạy môn Toán theo thứ tự tên")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?gv ?ten
WHERE {
    ?gv a s:GiaoVien.
    ?gv s:dayMon ?mon.
    ?mon s:ten "Toán học".
    ?gv s:hoTen ?hoTen.
    BIND(strafter(strafter(?hoTen, " "), " ") AS ?ten) .
}
ORDER BY ?ten
"""))
for x in result: print(x[0].hoTen)

sử dụng SPARQL để liệt kê các Giáo viên dạy môn Toán theo thứ tự tên
Đỗ Kim Hoàng
Đào Hữu Quân
Ngô Thu Quỳnh
Tôn Hoài Thiện

In [68]:
print("sử dụng SPARQL để liệt kê các Giáo viên dạy lớp 10C03 theo thứ tự tên môn học")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?day
WHERE {
    ?day a s:GiangDay.
    ?day s:lopHoc ?lop.
    ?lop s:ten "10C03".
    ?day s:monHoc ?mon.
    ?mon s:ten ?tenMon.
}
ORDER BY ?tenMon
"""))
for x in result: print(x[0].giaoVien.hoTen, x[0].monHoc.ten, x[0].lopHoc.ten)

sử dụng SPARQL để liệt kê các Giáo viên dạy lớp 10C03 theo thứ tự tên môn học
Đinh Thị Nhật Công nghệ 10C03
Mai Ngọc Tú GDCD 10C03
Dương Thị Việt Hóa học 10C03
Đinh Thu Nhật Lịch sử 10C03
Tạ Kim Việt Ngữ văn 10C03
Đào Hữu Thúy Sinh học 10C03
Phan Kim Tú Thể dục 10C03
Nguyễn Thu Thảo Tiếng Anh 10C03
Ngô Thu Quỳnh Toán học 10C03
Quách Anh Xuân Địa lý 10C03

In [69]:
print("sử dụng SPARQL để tìm tất cả các gv dạy 2 môn")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?gv (COUNT(?day) AS ?soMon)
WHERE {
    ?gv a s:GiaoVien.
    ?gv s:dayMon ?day.
}
GROUP BY ?gv
HAVING (COUNT(?day) > 1)
"""))
for x in result: print(x[0].hoTen, x[1], [mon.ten for mon in x[0].dayMon])

sử dụng SPARQL để tìm tất cả các gv dạy 2 môn
Vũ Quý Hiền 2 ['Ngữ văn', 'Tiếng Anh']
Lý Văn Việt 2 ['Hóa học', 'Địa lý']
Tôn Hoài Thiện 2 ['Toán học', 'Tiếng Anh']
Tăng Hoài An 2 ['Sinh học', 'Công nghệ']
Tôn Ngọc Hoàng 2 ['Công nghệ', 'Thể dục']