In [1]:
%run ../app/models/model.py
from owlready2 import *
onto = get_ontology("../app/data/education.owl").load()

* Owlready2 * Warning: optimized Cython parser module 'owlready2_optimized' is not available, defaulting to slower Python implementation

In [2]:
print("sử dụng SPARQL để tìm tất cả các học sinh có họ bắt đầu bằng chữ L")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hoTen ?hoTen.
    FILTER (STRSTARTS(?hoTen, "L")).
}
"""))
for x in result: print(x[0].hoTen, x[0].hocLop.ten)

sử dụng SPARQL để tìm tất cả các học sinh có họ bắt đầu bằng chữ L
Lâm Hoài Quỳnh 10C01
Lý Quốc Ngọc 11B01
Lương Thu Thúy 12A03

In [20]:
print("sử dụng SPARQL để tìm tất cả các học sinh có tên lót là Thị")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hoTen ?hoTen.
    FILTER (REGEX(?hoTen, ".+ Thị .+", "i")).
}
"""))
for x in result: print(x[0].hoTen, x[0].hocLop.ten)

sử dụng SPARQL để tìm tất cả các học sinh có tên lót là Thị
Tăng Thị Tú 10C02
Đinh Thị Khánh 10C02
Mai Thị Linh 11B01
Tạ Thị Hùng 11B01

In [3]:
print("sử dụng SPARQL để tìm tất cả các học sinh sinh vào tháng 3")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:ngaySinh ?ngaySinh.
    FILTER (MONTH(?ngaySinh) = 3).
}
"""))
for x in result: print(x[0].hoTen, x[0].ngaySinh)

sử dụng SPARQL để tìm tất cả các học sinh sinh vào tháng 3
Nguyễn Hoài Khánh 2000-03-27
Bùi Anh Linh 2000-03-05
Tô Ngọc Xuân 2000-03-25

In [4]:
print("sử dụng SPARQL để tìm tất cả các học sinh của lớp có tên là 10C03")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hocLop ?lop.
    ?lop s:ten "10C03".
}
"""))
for x in result: print(x[0].hoTen, x[0].hocLop.ten)

sử dụng SPARQL để tìm tất cả các học sinh của lớp có tên là 10C03
Đinh Thu Hải 10C03
Đặng Mai Thuận 10C03
Đoàn Kim Minh 10C03
Trần Bảo Long 10C03
Tạ Ngọc Thiện 10C03

In [5]:
print("sử dụng SPARQL để tìm tất cả các học sinh của lớp có uri là #11B01")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs 
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hocLop ?lop.
    FILTER(STRENDS(STR(?lop), "#11B01")).
}
"""))
for x in result: print(x[0].hoTen, x[0].hocLop.ten)

sử dụng SPARQL để tìm tất cả các học sinh của lớp có uri là #11B01
Hoàng Mai Thúy 11B01
Lý Quốc Ngọc 11B01
Mai Thị Linh 11B01
Tạ Thị Hùng 11B01
Dương Quốc Tường 11B01

In [6]:
print("sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp, sắp xếp theo tên lớp")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?gv
WHERE {
    ?gv a s:GiaoVien.
    ?gv s:lopChuNhiem ?lop.
    ?lop s:ten ?tenLop.
    FILTER(BOUND(?lop)).
}
ORDER BY ?tenLop
"""))
for x in result: print(' - '.join([x[0].hoTen, x[0].dayMon[0].ten, x[0].lopChuNhiem.ten]))

sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp, sắp xếp theo tên lớp
Dương Kim Quang - Sinh học - 10C01
Quách Kim Linh - Toán học - 10C02
Đoàn Quý Vinh - Địa lý - 10C03
Võ Hữu Việt - Thể dục - 11B01
Đoàn Thanh Nhật - Toán học - 11B02
Lý Thanh Việt - Thể dục - 11B03
Thái Văn Quân - GDCD - 12A01
Tôn Quốc Nhật - GDCD - 12A02
Trương Thanh Linh - Lịch sử - 12A03

In [7]:
print("sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp (cách 2)")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?lop 
WHERE {
    ?lop a s:LopHoc.
}
"""))
for x in result: print(' - '.join([x[0].ten, x[0].giaoVienChuNhiem.hoTen]))

sử dụng SPARQL để tìm tất cả các giáo viên chủ nhiệm của từng lớp (cách 2)
10C01 - Dương Kim Quang
10C02 - Quách Kim Linh
10C03 - Đoàn Quý Vinh
11B01 - Võ Hữu Việt
11B02 - Đoàn Thanh Nhật
11B03 - Lý Thanh Việt
12A01 - Thái Văn Quân
12A02 - Tôn Quốc Nhật
12A03 - Trương Thanh Linh

In [8]:
print("sử dụng SPARQL để tìm tất cả các phụ huynh có 2 con đang học cùng trường")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?ph (COUNT(?hs) AS ?soCon)
WHERE {
    ?ph a s:Me.
    ?ph s:con ?hs.
}
GROUP BY ?ph
HAVING (COUNT(?hs) = 2)
"""))
print(*[f"{x[0].hoTen} - {x[1]}" for x in result], sep = '\n')
lst = list(map(lambda ph: [ph[0].hoTen, ph[0].con[0].hoTen, ph[0].con[1].hoTen], result))# Lấy họ tên phụ huynh và các con
lst.sort(key = lambda x:x[2]) # Sắp xếp theo tên con thứ 2
new_lst = [[a[0], b[0], a[1], a[2]] for a, b in zip(lst[::2], lst[1::2])] # Ghép lại theo cặp
for x in new_lst: print(f"({x[0]} + {x[1]}) = Con 1: {x[2]} - Con 2: {x[3]}")

sử dụng SPARQL để tìm tất cả các phụ huynh có 2 con đang học cùng trường

In [9]:
print("sử dụng SPARQL để liệt kê các Giáo viên dạy môn Toán theo thứ tự tên")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?gv ?ten
WHERE {
    ?gv a s:GiaoVien.
    ?gv s:dayMon ?mon.
    ?mon s:ten "Toán học".
    ?gv s:hoTen ?hoTen.
    BIND(strafter(strafter(?hoTen, " "), " ") AS ?ten) .
}
ORDER BY ?ten
"""))
for x in result: print(x[0].hoTen)

sử dụng SPARQL để liệt kê các Giáo viên dạy môn Toán theo thứ tự tên
Quách Kim Linh
Đoàn Thanh Nhật
Lâm Đình Quỳnh
Ngô Quý Vân

In [10]:
print("sử dụng SPARQL để liệt kê các Giáo viên dạy lớp 10C03 theo thứ tự tên môn học")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?day
WHERE {
    ?day a s:GiangDay.
    ?day s:lopHoc ?lop.
    ?lop s:ten "10C03".
    ?day s:monHoc ?mon.
    ?mon s:ten ?tenMon.
}
ORDER BY ?tenMon
"""))
for x in result: print(x[0].giaoVien.hoTen, x[0].monHoc.ten, x[0].lopHoc.ten)

sử dụng SPARQL để liệt kê các Giáo viên dạy lớp 10C03 theo thứ tự tên môn học
Lê Đình Sơn Công nghệ 10C03
Lý Minh Linh GDCD 10C03
Quách Hồng Minh Hóa học 10C03
Tạ Thu Minh Lịch sử 10C03
Lương Mai Nam Ngữ văn 10C03
Thái Quốc Quang Sinh học 10C03
Võ Hữu Việt Thể dục 10C03
Ngô Bảo Tường Tiếng Anh 10C03
Đoàn Thanh Nhật Toán học 10C03
Phùng Thị Quang Địa lý 10C03

In [11]:
print("sử dụng SPARQL để tìm tất cả các gv dạy 2 môn")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?gv (COUNT(?day) AS ?soMon)
WHERE {
    ?gv a s:GiaoVien.
    ?gv s:dayMon ?day.
}
GROUP BY ?gv
HAVING (COUNT(?day) > 1)
"""))
for x in result: print(x[0].hoTen, x[1], [mon.ten for mon in x[0].dayMon])

sử dụng SPARQL để tìm tất cả các gv dạy 2 môn
Quách Kim Linh 2 ['Toán học', 'Hóa học']
Trần Thanh Vân 2 ['Hóa học', 'Địa lý']
Lâm Đình Quỳnh 2 ['Toán học', 'Sinh học']
Đặng Hoài Hiền 2 ['Tiếng Anh', 'GDCD']
Tôn Quốc Nhật 2 ['GDCD', 'Thể dục']

In [25]:
print("sử dụng SPARQL để tìm tất cả các giáo viên là Tổ trưởng của các tổ")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?gv ?cv ?to
WHERE {
    ?gv a s:GiaoVien.
    ?gv s:chucVu ?cv.
    ?cv s:ten "Tổ trưởng".
    ?gv s:toChuc ?to.
}
"""))
for x in result: print(x[0].hoTen, '-', x[1].ten, '-', x[2].ten)

sử dụng SPARQL để tìm tất cả các giáo viên là Tổ trưởng của các tổ
Ngô Quý Vân - Tổ trưởng - Tổ Toán học
Lương Mai Nam - Tổ trưởng - Tổ Ngữ văn
Quách Hồng Minh - Tổ trưởng - Tổ Hóa học
Tạ Thu Minh - Tổ trưởng - Tổ Lịch sử
Phùng Thị Quang - Tổ trưởng - Tổ Địa lý
Thái Quốc Quang - Tổ trưởng - Tổ Sinh học
Ngô Bảo Tường - Tổ trưởng - Tổ Tiếng Anh
Lý Minh Linh - Tổ trưởng - Tổ GDCD
Lê Đình Sơn - Tổ trưởng - Tổ Công nghệ
Võ Hữu Việt - Tổ trưởng - Tổ Thể dục

In [27]:
print("sử dụng SPARQL lọc ra tất cả các lớp có IRI kết thúc bằng 11B*")
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?hs ?tenLop
WHERE {
    ?hs a s:HocSinh.
    ?hs s:hocLop ?lop.
    ?lop s:ten ?tenLop.
    FILTER(REGEX(STR(?lop), ".+#11B.+", "i")).
}
"""))
for x in result: print(x[0].hoTen, x[1])

sử dụng SPARQL lọc ra tất cả các lớp có IRI kết thúc bằng 11B*
Hoàng Mai Thúy 11B01
Lý Quốc Ngọc 11B01
Mai Thị Linh 11B01
Tạ Thị Hùng 11B01
Dương Quốc Tường 11B01
Tô Văn Phương 11B02
Nguyễn Hồng Tùng 11B02
Phan Mai Tú 11B02
Ngô Văn Tường 11B02
Phùng Thanh Quân 11B02
Đinh Thanh Vinh 11B03
Đặng Anh Khánh 11B03
Tăng Quý An 11B03
Bùi Hoài Phương 11B03
Võ Mai Thiên 11B03

In [48]:
print('''sử dụng SPARQL liệt kê tất cả nhân viên của tổ Văn phòng kèm theo thông tin lương, 
Lương = Hệ số lương * 1.500.000 + Tổng phụ cấp chức vụ (nếu có)*1000.000
Một nhân viên có thể đảm nhiệm nhiều vị trí công việc nên sẽ có nhiều chức vụ
Tổng phụ cấp chức vụ = tổng tất cả phụ cấp, sắp xếp lương giảm dần
''')
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?nv ?cv (SUM(?phuCap) AS ?tongPhuCap) ?luongC ?luongT ?luong
WHERE {
    ?nv a s:NhanVien.
    ?nv s:toChuc ?to.
    ?to s:ten "Văn phòng".
    ?nv s:heSoLuong ?heSo.
    OPTIONAL {
        ?nv s:chucVu ?cv.
        ?cv s:phuCap ?phuCap.
    }
    BIND(?heSo * 1500000 AS ?luongC).
    BIND(IF(BOUND(?cv), ?tongPhuCap*1000000, 0) AS ?luongT).
    BIND(?luongC + ?luongT AS ?luong).
}
GROUP BY ?nv 
ORDER BY DESC(?luong)
"""))
for x in result: print(x[0].hoTen, '-', x[1].ten, '- PC:', x[2], '- Lương:', x[3], '+', x[4], '=', x[5])

sử dụng SPARQL liệt kê tất cả nhân viên của tổ Văn phòng kèm theo thông tin lương,
Lương = Hệ số lương * 1.500.000 + Tổng phụ cấp chức vụ (nếu có)*1000.000
Một nhân viên có thể đảm nhiệm nhiều vị trí công việc nên sẽ có nhiều chức vụ
Tổng phụ cấp chức vụ = tổng tất cả phụ cấp, sắp xếp lương giảm dần

Huỳnh Quý Quang - Tổ phó - PC: 1060.6499999999246 - Lương: 12750000.0 + -687000000 = -674250000.0
Quách Quốc Bình - Phục vụ - PC: 0 - Lương: 12000000.0 + -687000000 = -675000000.0
Lý Minh Quang - Thiết bị - PC: 589.25 - Lương: 9300000.0 + -687000000 = -677700000.0
Đặng Anh Nam - Thư viện - PC: 0 - Lương: 9000000.0 + -687000000 = -678000000.0
Phạm Mai Việt - Tổ trưởng - PC: 1649.900000000068 - Lương: 7950000.0 + -687000000 = -679050000.0
Tôn Quốc Linh - Bảo vệ - PC: 0 - Lương: 7950000.0 + -687000000 = -679050000.0
Đinh Đình An - Bảo vệ - PC: 0 - Lương: 7200000.0 + -687000000 = -679800000.0
Tô Văn Cường - Thủ quỹ - PC: 707.0999999999841 - Lương: 6149999.999999999 + -687000000 = -680850000.0
Phùng Đình Cường - Bảo vệ - PC: 0 - Lương: 5100000.0 + -687000000 = -681900000.0
Tô Văn Quỳnh - Thiết bị - PC: 589.25 - Lương: 2550000.0 + -687000000 = -684450000.0
Đào Minh Thuận - Phục vụ - PC: 0 - Lương: 1800000.0 + -687000000 = -685200000.0

In [76]:
print('''sử dụng SPARQL liệt kê tất cả nhân viên của tổ Văn phòng kèm theo thông tin lương, 
Lương = Hệ số lương * 1.500.000 + Tổng phụ cấp chức vụ (nếu có)*1000.000
Một nhân viên có thể đảm nhiệm nhiều vị trí công việc nên sẽ có nhiều chức vụ
Tổng phụ cấp chức vụ = tổng tất cả phụ cấp, sắp xếp lương giảm dần
''')
result = list(default_world.sparql("""
PREFIX s: <http://hc.com/school#>
SELECT ?nv ?cv ?heSo ?tongPhuCap ?luongC ?luongT ?luong
WHERE {
    ?nv a s:NhanVien.
    ?nv s:toChuc ?to.
    ?to s:ten "Văn phòng".
    ?nv s:heSoLuong ?heSo.
    ?nv s:chucVu ?cv.
    ?cv s:phuCap ?phuCap.
    BIND(SUM(?phuCap) AS ?tongPhuCap).
    BIND(?heSo * 1500 AS ?luongC).
    BIND(IF(BOUND(?cv), ?tongPhuCap*1000, 0) AS ?luongT).
    BIND(?luongC + ?luongT AS ?luong).
}
GROUP BY ?nv ?heSo 
"""))
for x in result: 
    print(x[0].hoTen, '-', x[1].ten, '\n- Hệ số:', x[2], '- Phụ cấp:', x[3],
          '\n- Lương:', x[4], '+', x[5], '=', x[6])

sử dụng SPARQL liệt kê tất cả nhân viên của tổ Văn phòng kèm theo thông tin lương,
Lương = Hệ số lương * 1.500.000 + Tổng phụ cấp chức vụ (nếu có)*1000.000
Một nhân viên có thể đảm nhiệm nhiều vị trí công việc nên sẽ có nhiều chức vụ
Tổng phụ cấp chức vụ = tổng tất cả phụ cấp, sắp xếp lương giảm dần

Tôn Quốc Linh - Bảo vệ
- Hệ số: 5.3 - Phụ cấp: 0
- Lương: 7950.0 + 0 = 7950.0
Phùng Đình Cường - Bảo vệ
- Hệ số: 3.4 - Phụ cấp: 0
- Lương: 5100.0 + 0 = 5100.0
Đinh Đình An - Bảo vệ
- Hệ số: 4.8 - Phụ cấp: 0
- Lương: 7200.0 + 0 = 7200.0
Quách Quốc Bình - Phục vụ
- Hệ số: 8.0 - Phụ cấp: 0
- Lương: 12000.0 + 0 = 12000.0
Đào Minh Thuận - Phục vụ
- Hệ số: 1.2 - Phụ cấp: 0
- Lương: 1800.0 + 0 = 1800.0
Huỳnh Quý Quang - Văn thư
- Hệ số: 8.5 - Phụ cấp: 0.44999999999999996
- Lương: 12750.0 + 449.99999999999994 = 13200.0
Tô Văn Cường - Thủ quỹ
- Hệ số: 4.1 - Phụ cấp: 0.3
- Lương: 6149.999999999999 + 300.0 = 6449.999999999999
Phạm Mai Việt - Kế toán
- Hệ số: 5.3 - Phụ cấp: 0.7
- Lương: 7950.0 + 700.0 = 8650.0
Đặng Anh Nam - Thư viện
- Hệ số: 6.0 - Phụ cấp: 0
- Lương: 9000.0 + 0 = 9000.0
Tô Văn Quỳnh - Thiết bị
- Hệ số: 1.7 - Phụ cấp: 0.25
- Lương: 2550.0 + 250.0 = 2800.0
Lý Minh Quang - Thiết bị
- Hệ số: 6.2 - Phụ cấp: 0.25
- Lương: 9300.0 + 250.0 = 9550.0